html {
    height: 100%;
  }

body{
    background-image: url("https://www.wallpaperflare.com/static/279/791/689/world-of-warships-wargaming-net-ship-explosion-wallpaper.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    scroll-behavior: smooth;
}

/* Estilo del tablero */
.rows{
    display: flex;
    margin-bottom: 1px;
}

.row-counter{
    height: 40px;
    width: 20px;
    margin-right: 3px;
    margin-bottom: 1px;
    font-weight: bold;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: orangered;
}

.columns{
    margin-left: 23px;
    display: flex;
}

.column-counter{
    height: 20px;
    width: 40px;
    margin-right: 2px;
    margin-bottom: 3px;
    font-weight: bold;
    text-align: center;
    background-color: black;
    color: orangered;
}

/* Estilo de los cuadrados */
.square{
    width: 40px;
    height: 40px;
    margin-right: 2px;
    margin-bottom: 1px;
    background-color: rgb(167, 167, 235);
}

.miss{
    background-image: linear-gradient(30deg, white, blue, rgb(25, 101, 140));
}

.hit{
    background-image: linear-gradient(90deg, orangered, black, grey);
}

.placed{
    background-image: linear-gradient(90deg, rgb(23, 21, 21), grey, black);
}

/* Espaciado de los tableros */

.gameboard{
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
    margin-bottom: 200px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    -webkit-text-stroke: 1px black;
}
#ShowBoat{
margin-left: 330px;
}

#SuperTitle{
    color: rgb(26, 9, 106);
    text-shadow: 0 0 0.2em rgb(227, 101, 4), 0 0 0.2em rgb(255, 0, 0), 0 0 0.2em rgb(255, 0, 0);
}
.instruccions{
color: orangered;
-webkit-text-stroke: 1px black;

}

#gamerBoard{
    margin-bottom: 200px;
}

.footer {
    background-color: black;
    bottom: 0;
    position: absolute fixed;
    width: 100%;
    height: auto;
    color: #38b6ff !important;
    border-color: rgb(156, 156, 156);
    border-top-style: solid;
    border-top-width: 1px;
    font-size: 13px;
  }